.homebody-container {
  display: column;
  grid-template-columns: 1fr 1fr; /* two equal columns */
  gap: 20px; /* space between them */
  background-color: white;
}

.WWF-section {
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #d1f3ae;
}

.widget-section {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 20px;
    background-color: #ffcc8a;
}

.news-articles-section {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 20px;
    background-color: #feeaab;
}

@media (max-width: 1000px) {
    .homebody-container {
        grid-template-columns: 1fr; /* stack columns on top of each other */
    }
}