
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "gill-sans-bold";
    src: url('./assets/fonts/gill-sans-2/Gill-Sans-Bold.otf') format('opentype'); /* Path to your font */
    font-weight: normal; /* Optional: specify font weight */
    font-style: normal;  /* Optional: specify font style */
}
@font-face {
    font-family: "gill-sans-light";
    src: url('./assets/fonts/gill-sans-2/Gill-Sans-Light.otf') format('opentype'); /* Path to your font */
    font-weight: normal; /* Optional: specify font weight */
    font-style: normal;  /* Optional: specify font style */
}

@font-face {
  font-family: "gill-sans-bold";
  src: url("../../assets/fonts/GillSans-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}