.in-the-news {
  display: flex;
  background-color: #feeaab;
  padding: 20px;
  gap: 20px;
}

/* Articles take main space */
.articles-section {
  flex: 1;
}

.news-sidebar {
  padding: 20px;
  width: 350px;
  margin: 20px auto;
}

/* Responsive */
@media (max-width: 1000px) {
  .in-the-news {
    flex-direction: column;
  }

  .news-sidebar {
    width: 100%;
    margin: 0 auto;
  }
}
